{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<title>Victor's portfolio</title>
	<link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static "css/journal-bootstrap.min.css" %}">
		
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
	<div id="app"></div>
	<script type="text/javascript" src="{% static "bundles/main.bundle.js" %}"></script>
</body>
</html>